{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <ul>
        {% for article in category.articles %}
            <li>
                <h2 class="mb-0">
                    {{ article.title }}
                </h2>
                <p>{{ article.content }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}